@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-nlr-blue-dark grid;
    grid-template-areas:
      'sidebar header header header header header'
      'sidebar main main main main main';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }
  header {
    grid-area: header;
  }
  aside {
    grid-area: sidebar;
  }
  main {
    grid-area: main;
  }

  h1 {
    @apply text-xl font-semibold;
  }
  h2 {
    @apply text-lg font-semibold;
  }

  .nav {
    @apply my-6 flex flex-col gap-8;
  }
  .nav.-inline {
    @apply flex flex-row;
  }
  .nav li {
    @apply px-3 py-2 bg-nlr-grey-light;
  }
  .nav li.-current {
    @apply text-white bg-nlr-blue font-semibold;
  }
  .nav li a:hover,
  .nav li.-current a:hover {
    @apply underline;
  }

  thead:first-child {
    @apply sticky top-0 border-b border-nlr-grey bg-white
  }
  th, td {
    @apply p-2;
  }

  form .field,
  form .actions {
    @apply mb-5;
  }

  input[type='text'],
  input[type='email'],
  input[type='url'],
  input[type='password'],
  input[type='number'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='search'],
  input[type='tel'],
  input[type='time'],
  input[type='week'] {
    @apply w-full;
  }
  input[type=submit] {
    @apply px-3 py-2 text-white bg-nlr-blue font-semibold cursor-pointer;
  }

  .link {
    @apply py-4;
  }
  .link.-current {
    @apply text-nlr-blue;
  }

  .btn {
    @apply px-3 py-2 text-white bg-nlr-blue font-semibold;
  }
  a.btn:hover,
  button.btn:hover {
    @apply underline;
  }
  .btn__secondary {
    @apply text-nlr-blue-dark bg-nlr-grey-light font-normal;
  }
  .btn__tertiary {
    @apply text-white bg-nlr-orange font-semibold;
  }

  .flash-message {
    @apply p-4 my-8 border-sky-500 bg-sky-200;
  }
  .flash-message__success {
    @apply border-emerald-500 bg-emerald-200;
  }
  .flash-message__error {
    @apply border-red-500 bg-red-200;
  }
}
