<aside class="bg-gray-100 p-5">
  <a class="text-xl" href="/">NLR</a>

  <hr class="border border-gray-200 my-6">

  <span class="text-lg">Analysis</span>
  <ol class="nav">
    <li class="link -current"><a href="/">Home</a></li>
    <li class="link"><a href="#">Flight Hours</a></li>
    <li class="link"><a href="#">Usage Spectrum</a></li>
    <li class="link"><a href="#">Health</a></li>
    <li class="link"><a href="#">W&B</a></li>
    <li class="link"><a href="#">Suspension</a></li>
    <li class="link"><a href="#">Impact</a></li>
    <li class="link"><a href="#">Raw Stream</a></li>
  </ol>
</aside>
