<aside class="">
  <a href="/">NLR</a>

  <hr>

  <span>Analysis</span>
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="#">Flight Hours</a></li>
    <li><a href="#">Usage Spectrum</a></li>
    <li><a href="#">Health</a></li>
    <li><a href="#">W&B</a></li>
    <li><a href="#">Suspension</a></li>
    <li><a href="#">Impact</a></li>
    <li><a href="#">Raw Stream</a></li>
  </ol>
</aside>
